// artwork carousel styles



.artist-artwork-slider ,
.other-works-carousel {
    display: flex;
    justify-content: center;
    background: #1e2827;
    padding: 25px 0;

    button::before {
        color:#fcfeff;
        
    }

}

.slick-slider {
    // border: 2px solid blue;
    width: 90%;

}
.slick-track {
    display: flex;
    align-items: center;
}

button.slick-arrow {
    // border: 2px solid black;
}

.artwork-slide {
    // border: 2px solid blue;
    padding: 7px;


    img {
        width: 100%;
    }
}
