// artworks component styles

.artworks-root {
    border: 2px solid green;

    .gallery-container {
        border: 3px solid gold;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }

    .artwork-box {
        border: 2px solid blue;
        min-width: 300px;
        width: 25%;

        .artwork-image {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}